[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open https://draconix6.github.io/linux-mcsr/index.html
Name=Draconix's Linux Guide for MCSR
Icon=/usr/share/icons/hicolor/256x256/end_crystal-256x256.png
