[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open https://www.minecraftspeedrunning.com
Name=Minecraft Speedrunning Homepage
Icon=/usr/share/icons/hicolor/256x256/end_crystal-256x256.png
