[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=xdg-open https://tesselslate.github.io/waywall/index.html
Name=Waywall Guide
Icon=/usr/share/icons/breeze-dark/mimetypes/64/text-x-texinfo.svg
